<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
  <h2>设置提醒时间</h2>
  <input type="number" name="hour" min="0" max="23" />
  <input type="number" name="minute" min="0" max="59" />
  <button id="saveBtn">保存</button>
</body>
<script type="text/javascript" src="/static/customize/js/utils.js"></script>
<script type="text/javascript" src="/static/duiba/js/setAlarm.js"></script>
</html>
