#pageBox {
  height: auto;
}

#navWrapper {
  height: 621px;
}

#contentWrapper {
  padding-bottom: 30px;
  min-height: 621px;
}

#rulesWrapper {
  width: 100%;
  /*background-color: lightblue;*/
  color: #5b5b5b;
  font-size: 14px;
}

#addRuleBtn {
  width: 107px;
  height: 34px;
  color: white;
  margin-bottom: 28px;
}

#rulesWrapper .ruleWrapper {
  margin-top: 1em;
}

#rulesWrapper .ruleWrapper:first-child {
  margin-top: 0;
}

#rulesWrapper .ruleDetailWrapper {
  display: none;
}

#rulesWrapper .ruleShortWrapper, #rulesWrapper .ruleDetailWrapper {
  width: 100%;
  height: auto;
  border: 1px solid #d9d9d9;
}

#rulesWrapper .ruleShortWrapper .head, #rulesWrapper .ruleDetailWrapper .head {
  width: 100%;
  height: 57px;
  line-height: 57px;
  background-color: #e7e8eb;
  padding: 0 15px;
}

#rulesWrapper .ruleShortWrapper .head:hover, #rulesWrapper .ruleDetailWrapper .head:hover {
  cursor: pointer;
}

#rulesWrapper .ruleShortWrapper .content {
  width: 100%;
  padding: 30px 17px;
  background-color: white;
  line-height: 3em;
}

#rulesWrapper .ruleDetailWrapper .content {
  width: 100%;
  background-color: white;
}

#rulesWrapper .ruleDetailWrapper .content .ruleRow:first-child {
  line-height: 35px;
}

#rulesWrapper .ruleDetailWrapper .content .keywordsWrapper .ruleRow:first-child {
  line-height: 1.2em;
}

#rulesWrapper .ruleShortWrapper .content .key {
  width: 10%;
  height: 100%;
}

#rulesWrapper .ruleShortWrapper .content .val {
  width: 90%;
  padding-left: 1em;
  overflow-x: hidden;
}

#rulesWrapper .ruleShortWrapper .content .keywordsWrapper font {
  padding: 0.5em 1em;
  background-color: #d8d8d8;
  margin: 0 0.5em 0 0;
}

#rulesWrapper .ruleDetailWrapper .content .ruleRow {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  padding: 1em 0;
  /*line-height: 2em;*/
  padding: 1em;
}

#rulesWrapper .ruleDetailWrapper .content .ruleRow:last-child {
  border-bottom: 0;
}

#rulesWrapper .ruleDetailWrapper .content .keywordsWrapper .ruleRow:last-child {
  border-bottom: 1px solid #d9d9d9;
}

#rulesWrapper .ruleDetailWrapper .content .point {
  width: 10%;
  text-align: center;
  font-weight: bold;
}

#rulesWrapper .ruleDetailWrapper .content .key {
  width: 15%;
}

#rulesWrapper .ruleDetailWrapper .content .val {
  width: 50%;
}

#rulesWrapper .ruleDetailWrapper .content .ruleRow.small {
  /*line-height: 1.2em;*/
}

#rulesWrapper .ruleDetailWrapper .content .ruleRow.small img {
  width: 60px;
  height: 60px;
  margin-right: 1em;
}

#rulesWrapper .ruleDetailWrapper .content .ruleRow.keyword .val {
  width: 65%;
}

#rulesWrapper .ruleDetailWrapper .content .ruleRow .val .insertedFace {
  width: 20px;
  height: 20px;
  /*vertical-align: bottom;*/
  margin-right: 0;
}

#rulesWrapper .ruleDetailWrapper .content .hint {
  width: 25%;
}

#rulesWrapper .ruleDetailWrapper .content .hint a {
  margin-right: 0.5em;
}

#rulesWrapper .ruleDetailWrapper .content .hint a:hover {
  cursor: pointer;
}

#rulesWrapper .ruleDetailWrapper .content .val input {
  height: 2.5em;
  line-height: 2.5em;
  padding-left: 0.5em;
}

#rulesWrapper .ruleDetailWrapper .content .val .addContentBtn {
  margin-right: 1em;
  color: #5b5b5b;
}

#rulesWrapper .ruleDetailWrapper .content .val .addContentBtn:hover {
  cursor: pointer;
}

#rulesWrapper .ruleDetailWrapper .foot {
  padding: 1em;
  background-color: #e7e8eb;
  font-size: 12px;
  color: #9b9b9b;
  line-height: 3em;
}


#materialNewsBox .materialBoxContent {
  padding: 21px 15%;
  overflow: auto;
}

.newsItemWrapper {
  width: 100%;
  margin: 1%;
  background-color: white;
  padding: 1em;
  border: 1px solid #d9d9d9;
  position: relative;
}

.newsItemWrapper:hover {
  cursor: pointer;
}

.newsItemWrapper .newsItemBox {
  width: 100%;
  position: relative;
  margin: 1em 0 0 0;
  padding-top: 1em;
  border-top: 1px solid #d9d9d9;
}

.newsItemWrapper .newsItemBox:first-child {
  height: 12em;
  margin-top: 0;
  padding-top: 0;
  border: 0;
  overflow: hidden;
}

.newsItemWrapper .newsItemBox:first-child .newsItemImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/static/customize/image/1.jpg');
  font-size: 0;
}

.newsItemWrapper .newsItemBox:first-child .newsItemTitle {
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  left: 0;
  top: 10em;
  width: 100%;
}

.newsItemWrapper .newsItemImg {
  width: 5em;
  height: 5em;
  background-image: url('/static/customize/image/1.jpg');
  position: absolute;
  right: 0;
  top: 1em;
}

.newsItemWrapper .newsItemTitle {
  width: 210px;
  height: 5em;
  line-height: 5em;
}

input[name="news_title"], input[name="news_url"] {
  width: 100%;
  margin: 1%;
  margin-top: 0.5em;
}