#pageBox {
  height: auto;
  min-height: 621px;
}

.loadingHint {
  padding: 2em;
}

#toShowTable {
  display: none;
}

#toShowTable {
  padding: 1em;
  border: 1px solid #edefed;
  margin-top: 1em;
}