<!DOCTYPE html>
<html>
<head>
  <title>选择自己</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link type="text/css" rel="stylesheet" href="/static/common/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/customize/css/base.css">
  <link type="text/css" rel="stylesheet" href="/static/customize/css/nav.css">
  <link type="text/css" rel="stylesheet" href="/static/customize/css/alert.css">
  <link type="text/css" rel="stylesheet" href="/static/customize/css/materialBox.css">
  {% block style %}{% endblock %}
</head>
<body>
  <div id="loadingContainer">
    <div id="loadingWrapper">
      <div id="loadingBox">
        <span id="loadingEle" class="rotate glyphicon glyphicon-repeat"></span>
      </div>
    </div>
  </div>
  {% include "customize/widgets/topAlert.html" %}
  {% include 'customize/widgets/materialBox.html' %}
  <div id="pageHeadWrapper">
    <div id="pageHead">
      选择自己·微信后台系统
      <a class="right" id="logoutBtn" href="/logout">账号退出</a>
    </div>
  </div>
  <div id="pageWrapper">
    <div id="pageBox">
      <div id="navWrapper" class="left">
        {% include "customize/widgets/nav.html" %}
      </div>
      <div id="contentWrapper" class="right">
        {% block page %}{% endblock %}
      </div>
      <div class="clear"></div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/static/common/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/customize/js/utils.js"></script>
<script type="text/javascript" src="/static/customize/js/topAlert.js"></script>
<script type="text/javascript" src="/static/customize/js/templates.js"></script>
<script type="text/javascript" src="/static/customize/js/materialBox.js"></script>
{% block script %}{% endblock %}
<script type="text/javascript" src="/static/customize/js/finishedLoading.js"></script>
</html>
