<table id="faceTable">
  <tr>
    <td><img name="[微笑]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/0.gif" /></td>
    <td><img name="[撇嘴]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/1.gif" /></td>
    <td><img name="[色]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/2.gif" /></td>
    <td><img name="[发呆]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/3.gif" /></td>
    <td><img name="[得意]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/4.gif" /></td>
    <td><img name="[流泪]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/5.gif" /></td>
    <td><img name="[害羞]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/6.gif" /></td>
    <td><img name="[闭嘴]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/7.gif" /></td>
    <td><img name="[睡]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/8.gif" /></td>
    <td><img name="[大哭]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/9.gif" /></td>
    <td><img name="[尴尬]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/10.gif" /></td>
    <td><img name="[发怒]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/11.gif" /></td>
    <td><img name="[调皮]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/12.gif" /></td>
    <td><img name="[呲牙]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/13.gif" /></td>
    <td><img name="[惊讶]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/14.gif" /></td>
  </tr>
  <tr>
    <td><img name="[难过]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/15.gif" /></td>
    <td><img name="[酷]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/16.gif" /></td>
    <td><img name="[冷汗]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/17.gif" /></td>
    <td><img name="[抓狂]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/18.gif" /></td>
    <td><img name="[吐]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/19.gif" /></td>
    <td><img name="[偷笑]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/20.gif" /></td>
    <td><img name="[愉快]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/21.gif" /></td>
    <td><img name="[白眼]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/22.gif" /></td>
    <td><img name="[傲慢]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/23.gif" /></td>
    <td><img name="[饥饿]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/24.gif" /></td>
    <td><img name="[困]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/25.gif" /></td>
    <td><img name="[惊恐]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/26.gif" /></td>
    <td><img name="[流汗]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/27.gif" /></td>
    <td><img name="[憨笑]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/28.gif" /></td>
    <td><img name="[悠闲]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/29.gif" /></td>
  </tr>
  <tr>
    <td><img name="[奋斗]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/30.gif" /></td>
    <td><img name="[咒骂]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/31.gif" /></td>
    <td><img name="[疑问]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/32.gif" /></td>
    <td><img name="[嘘]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/33.gif" /></td>
    <td><img name="[晕]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/34.gif" /></td>
    <td><img name="[疯了]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/35.gif" /></td>
    <td><img name="[衰]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/36.gif" /></td>
    <td><img name="[骷髅]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/37.gif" /></td>
    <td><img name="[敲打]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/38.gif" /></td>
    <td><img name="[再见]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/39.gif" /></td>
    <td><img name="[擦汗]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/40.gif" /></td>
    <td><img name="[抠鼻]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/41.gif" /></td>
    <td><img name="[鼓掌]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/42.gif" /></td>
    <td><img name="[糗大了]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/43.gif" /></td>
    <td><img name="[坏笑]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/44.gif" /></td>
  </tr>
  <tr>
    <td><img name="[左哼哼]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/45.gif" /></td>
    <td><img name="[右哼哼]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/46.gif" /></td>
    <td><img name="[哈欠]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/47.gif" /></td>
    <td><img name="[鄙视]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/48.gif" /></td>
    <td><img name="[委屈]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/49.gif" /></td>
    <td><img name="[快哭了]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/50.gif" /></td>
    <td><img name="[阴险]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/51.gif" /></td>
    <td><img name="[亲亲]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/52.gif" /></td>
    <td><img name="[吓]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/53.gif" /></td>
    <td><img name="[可怜]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/54.gif" /></td>
    <td><img name="[菜刀]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/55.gif" /></td>
    <td><img name="[西瓜]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/56.gif" /></td>
    <td><img name="[啤酒]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/57.gif" /></td>
    <td><img name="[篮球]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/58.gif" /></td>
    <td><img name="[乒乓]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/59.gif" /></td>
  </tr>
  <tr>
    <td><img name="[咖啡]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/60.gif" /></td>
    <td><img name="[饭]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/61.gif" /></td>
    <td><img name="[猪头]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/62.gif" /></td>
    <td><img name="[玫瑰]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/63.gif" /></td>
    <td><img name="[凋谢]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/64.gif" /></td>
    <td><img name="[嘴唇]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/65.gif" /></td>
    <td><img name="[爱心]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/66.gif" /></td>
    <td><img name="[心碎]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/67.gif" /></td>
    <td><img name="[蛋糕]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/68.gif" /></td>
    <td><img name="[闪电]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/69.gif" /></td>
    <td><img name="[炸弹]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/70.gif" /></td>
    <td><img name="[刀]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/71.gif" /></td>
    <td><img name="[足球]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/72.gif" /></td>
    <td><img name="[瓢虫]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/73.gif" /></td>
    <td><img name="[便便]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/74.gif" /></td>
  </tr>
  <tr>
    <td><img name="[月亮]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/75.gif" /></td>
    <td><img name="[太阳]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/76.gif" /></td>
    <td><img name="[礼物]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/77.gif" /></td>
    <td><img name="[拥抱]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/78.gif" /></td>
    <td><img name="[强]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/79.gif" /></td>
    <td><img name="[弱]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/80.gif" /></td>
    <td><img name="[握手]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/81.gif" /></td>
    <td><img name="[胜利]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/82.gif" /></td>
    <td><img name="[抱拳]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/83.gif" /></td>
    <td><img name="[勾引]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/84.gif" /></td>
    <td><img name="[拳头]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/85.gif" /></td>
    <td><img name="[差劲]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/86.gif" /></td>
    <td><img name="[爱你]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/87.gif" /></td>
    <td><img name="[NO]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/88.gif" /></td>
    <td><img name="[OK]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/89.gif" /></td>
  </tr>
  <tr>
    <td><img name="[爱情]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/90.gif" /></td>
    <td><img name="[飞吻]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/91.gif" /></td>
    <td><img name="[跳跳]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/92.gif" /></td>
    <td><img name="[发抖]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/93.gif" /></td>
    <td><img name="[怄火]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/94.gif" /></td>
    <td><img name="[转圈]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/95.gif" /></td>
    <td><img name="[磕头]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/96.gif" /></td>
    <td><img name="[回头]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/97.gif" /></td>
    <td><img name="[跳绳]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/98.gif" /></td>
    <td><img name="[投降]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/99.gif" /></td>
    <td><img name="[激动]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/100.gif" /></td>
    <td><img name="[街舞]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/101.gif" /></td>
    <td><img name="[献吻]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/102.gif" /></td>
    <td><img name="[左太极]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/103.gif" /></td>
    <td><img name="[右太极]" src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/104.gif" /></td>
  </tr>
</table>