<div id="materialBoxWrapper">
<div id="materialBoxContainer">
<div id="materialBoxOuter">
  <div id="materialImageBox" class="materialBox active">
  	<div class="materialBoxHead">
  	  <font>选择图片</font>
  	  <font class="right hideMaterialBoxBtn">关闭</font>
  	</div>
  	<div class="materialBoxInner">
  	  <div class="materialBoxNav left">未分组 (1)</div>
  	  <div class="materialBoxContent left">
  	  </div>
      <div class="materialBoxPageWrapper left">
        <font class="toPageBtn" offset="-1">&lt;&lt;</font>
        <input type="text" class="toPage" value="1" /> / <font class="totalPage">1</font>
        <font class="toPageBtn" offset="1">&gt;&gt;</font>
      </div>
  	</div>
  </div>
  <div id="materialVoiceBox" class="materialBox">
  	<div class="materialBoxHead">
      <font>选择语音</font>
      <font class="right hideMaterialBoxBtn">关闭</font>
    </div>
    <div class="materialBoxInner">
      <table class="materialBoxContent">
        <tr class="voiceItem" mediaId="mediaIdA">
          <td class="voiceSelect"><input type="radio" name="voiceSelect" /></td>
          <td class="voiceName">Middle</td>
          <td class="voiceLen">03:47</td>
        </tr>
        <tr class="voiceItem" mediaId="mediaIdB">
          <td class="voiceSelect"><input type="radio" name="voiceSelect" /></td>
          <td class="voiceName">Middle</td>
          <td class="voiceLen">03:47</td>
        </tr>
        <tr class="voiceItem" mediaId="mediaIdC">
          <td class="voiceSelect"><input type="radio" name="voiceSelect" /></td>
          <td class="voiceName">Middle</td>
          <td class="voiceLen">03:47</td>
        </tr>
        <tr class="voiceItem" mediaId="mediaIdD">
          <td class="voiceSelect"><input type="radio" name="voiceSelect" /></td>
          <td class="voiceName">Middle</td>
          <td class="voiceLen">03:47</td>
        </tr>
        <tr class="voiceItem" mediaId="mediaIdE">
          <td class="voiceSelect"><input type="radio" name="voiceSelect" /></td>
          <td class="voiceName">Middle</td>
          <td class="voiceLen">03:47</td>
        </tr>
      </table>
      <div class="materialBoxPageWrapper">
        <font class="toPageBtn" offset="-1">&lt;&lt;</font>
        <input type="text" class="toPage" value="1" /> / <font class="totalPage">1</font>
        <font class="toPageBtn" offset="1">&gt;&gt;</font>
      </div>
    </div>
  </div>
  <div id="materialVideoBox" class="materialBox">
  	
  </div>
  <div id="materialNewsBox" class="materialBox">
  	
  </div>
  <div id="btnBox">
  	<div id="choosenBtn" class="btn">确定</div>
  	<div id="cancelBtn" class="btn wait">取消</div>
  	<font class="hint">
  		已选<font class="choosenAmount">0</font>个，
  		可选<font class="choosableAmount">1</font>个
  	</font>
  </div>
</div>
</div>
</div>