<div id="materialBoxWrapper">
<div id="materialBoxContainer">
<div id="materialBoxOuter">
  <!-- 文字输入框 -->
  <div id="materialTextBox" class="materialBox">
    <div class="materialBoxHead">
      <font>添加文字</font>
      <font class="right hideMaterialBoxBtn">关闭</font>
    </div>
    <div class="materialBoxInner">
      <div class="materialBoxContent">
        <div id="materialTextContainer">
          <div id="materialTextInputArea" contenteditable></div>
          {% include 'customize/widgets/face2.html' %}
          <div id="materialTextHintArea">
            <div class="showFaceBtn left">
              <img src="/static/customize/icon/face.png" />
            </div>
            <div class="right remainChar">
              还可以输入<font>600</font>字
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 图片选择框 -->
  <div id="materialImageBox" class="materialBox active">
  	<div class="materialBoxHead">
  	  <font>选择图片</font>
  	  <font class="right hideMaterialBoxBtn">关闭</font>
  	</div>
  	<div class="materialBoxInner">
  	  <div class="materialBoxNav left">未分组 (1)</div>
  	  <div class="materialBoxContent left">
  	  </div>
      <div class="materialBoxPageWrapper left">
        <font class="toPageBtn" offset="-1">&lt;&lt;</font>
        <input type="text" class="toPage" value="1" /> / <font class="totalPage">1</font>
        <font class="toPageBtn" offset="1">&gt;&gt;</font>
      </div>
  	</div>
  </div>
  <!-- 语音选择框 -->
  <div id="materialVoiceBox" class="materialBox">
  	<div class="materialBoxHead">
      <font>选择语音</font>
      <font class="right hideMaterialBoxBtn">关闭</font>
    </div>
    <div class="materialBoxInner">
      <div class="materialBoxContent">
      </div>
      <div class="materialBoxPageWrapper">
        <font class="toPageBtn" offset="-1">&lt;&lt;</font>
        <input type="text" class="toPage" value="1" /> / <font class="totalPage">1</font>
        <font class="toPageBtn" offset="1">&gt;&gt;</font>
      </div>
    </div>
  </div>
  <!-- 视频选择框 -->
  <div id="materialVideoBox" class="materialBox">
  	<div class="materialBoxHead">
      <font>选择视频</font>
      <font class="right hideMaterialBoxBtn">关闭</font>
    </div>
    <div class="materialBoxInner">
      <div class="materialBoxContent">
      </div>
      <div class="materialBoxPageWrapper">
        <font class="toPageBtn" offset="-1">&lt;&lt;</font>
        <input type="text" class="toPage" value="1" /> / <font class="totalPage">1</font>
        <font class="toPageBtn" offset="1">&gt;&gt;</font>
      </div>
    </div>
  </div>
  <!-- 图文选择框 -->
  <div id="materialNewsBox" class="materialBox">
  	<div class="materialBoxHead">
      <font>选择图文</font>
      <font class="right hideMaterialBoxBtn">关闭</font>
    </div>
    <div class="materialBoxInner">
      <div class="materialBoxContent">
        <div class="newsItemWrapper left">
          <div class="newsItemBox">
            <div class="newsItemImg"></div>
            <div class="newsItemTitle">标题标题</div>
          </div>
          <div class="newsItemBox">
            <div class="newsItemImg"></div>
            <div class="newsItemTitle">标题标题</div>
          </div>
          <div class="newsItemBox">
            <div class="newsItemImg"></div>
            <div class="newsItemTitle">标题标题</div>
          </div>
          <div class="newsItemBox">
            <div class="newsItemImg"></div>
            <div class="newsItemTitle">标题标题</div>
          </div>
          <div class="newsItemBox">
            <div class="newsItemImg"></div>
            <div class="newsItemTitle">标题标题</div>
          </div>
        </div>
        <div class="newsItemWrapper left">
          <div class="newsItemBox">
            <div class="newsItemImg"></div>
            <div class="newsItemTitle">标题标题</div>
          </div>
          <div class="newsItemBox">
            <div class="newsItemImg"></div>
            <div class="newsItemTitle">标题标题</div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="materialBoxPageWrapper">
        <font class="toPageBtn" offset="-1">&lt;&lt;</font>
        <input type="text" class="toPage" value="1" /> / <font class="totalPage">1</font>
        <font class="toPageBtn" offset="1">&gt;&gt;</font>
      </div>
    </div>
  </div>
  <!-- mpnews选择框 -->
  <div id="materialMpNewsBox" class="materialBox">
    <div class="materialBoxHead">
      <font>选择图文消息</font>
      <font class="right hideMaterialBoxBtn">关闭</font>
    </div>
    <div class="materialBoxInner">
      <div class="materialBoxContent">
      </div>
      <div class="materialBoxPageWrapper">
        <font class="toPageBtn" offset="-1">&lt;&lt;</font>
        <input type="text" class="toPage" value="1" /> / <font class="totalPage">1</font>
        <font class="toPageBtn" offset="1">&gt;&gt;</font>
      </div>
    </div>
  </div>
  <div id="btnBox">
  	<div id="choosenBtn" class="btn">确定</div>
  	<div id="cancelBtn" class="btn wait">取消</div>
  	<font class="hint">
  		已选<font class="choosenAmount">0</font>个，
  		可选<font class="choosableAmount">1</font>个
  	</font>
  </div>
</div>
</div>
</div>