<!DOCTYPE html>
<html>
<head>
  <title>WechatApiDebug</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
  <form id="menuForm" action="/wechat/menu" method="post">
  	<p>
  	  <textarea name="menu" id="menu" col="10" row="10">{{ template.content }}</textarea>
  	</p>
  	<p>
  	  <input type="submit" val="提交" />
  	</p>
  </form>
</body>
<script type="text/javascript" src="/static/common/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/customize/js/menu.js"></script>
</html>
