{% extends 'customize/widgets/base.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/static/customize/css/material.css">
<link type="text/css" rel="stylesheet" href="/static/duiba/css/checkCreditRecords.css">
<link type="text/css" rel="stylesheet" href="/static/transmit/css/activity_set.css">
{% endblock %}

{% block page %}
{% ifequal action 'update' %}
<div class="checkTypeBox">
  <a class="left checkType active" href="#">卡片设置</a>
  <a class="left checkType" href="/task/add?aid={{ activity.id }}">定时任务</a>
  <a class="left checkType" href="/task/list?aid={{ activity.id }}">任务列表</a>
  <div class="clear"></div>
</div>
{% endifequal %}
{% ifequal action 'add' %}
<h1 id="replyHead">新建活动</h1>
{% endifequal %}
<div class="pageWrapper" aid="{{ activity.id }}">
  <div class="stepBox">
    <div class="stepBoxTitle">第一步：设置活动名称</div>
    <div class="line">
      <div class="lineLabel left">活动名称</div>
      <input type="text" name="activity_name" placeholder="活动名称长度不超过30字" value="{{ activity.name }}" />
    </div>
  </div>
  <div class="nameCardStyleBox stepBox">
    <div class="stepBoxTitle">第二步：设置卡片样式</div>
    <div class="hint">
      头像尺寸为用户头像半径；头像位置为头像左上角点相对于整张图片左上角的坐标值(x, y)；<br>
      昵称尺寸为昵称字体的大小；昵称位置为从图片顶端到字体的垂直距离；<br>
      二维码尺寸为二维码图片的宽度（长度）；<br>
      二维码位置为二维码图片左上角相对于图片左上角的坐标(x, y)；<br>
      头像尺寸单位为相对于背景图片宽度的百分比<br>
      昵称尺寸单位为像素<br>
      x坐标单位为相对背景图片宽度的百分比，y坐标单位为相对背景图片高度的百分比
    </div>
    <div class="settingArea left">
      <div class="line">
        <div class="lineLabel left">背景图片</div>
        <input type="text" readonly placeholder="背景图片地址" name="bg" id="bg" value="{{ template.bg }}"/>
        <button class="uploadImgBtn" target="bg">点击上传</button>
      </div>
      <div class="line">
        <div class="lineLabel left">头像尺寸</div>
        <input type="number" min="0" placeholder="头像直径" name="head_diameter" value="{{ template.head_diameter}}" />
      </div>
      <div class="line">
        <div class="lineLabel left">头像位置</div>
        <input type="number" min="0" placeholder="头像x坐标" name="head_x" value="{{ template.head_x }}"/>
        <input type="number" min="0" placeholder="头像y坐标" name="head_y" value="{{ template.head_y }}" />
      </div>
      <div class="line">
        <div class="lineLabel left">昵称尺寸</div>
        <input type="number" min="0" placeholder="昵称字体大小" name="name_fontsize" value="{{ template.name_fontsize}}" />
      </div>
      <div class="line">
        <div class="lineLabel left">昵称位置</div>
        <input type="number" min="0" placeholder="昵称y坐标" name="name_y" value="{{ template.name_y }}" />
      </div>
      <div class="line">
        <div class="lineLabel left">二维码尺寸</div>
        <input type="number" min="0" placeholder="二维码大小" name="qrcode_size" value="{{ template.qrcode_size }}" />
      </div>
      <div class="line">
        <div class="lineLabel left">二维码位置</div>
        <input type="number" min="0" placeholder="二维码x坐标" name="qrcode_x" value="{{ template.qrcode_x }}" />
        <input type="number" min="0" placeholder="二维码y坐标" name="qrcode_y" value="{{ template.qrcode_y }}" />
      </div>
    </div>
    <div class="previewArea left">
      <div class="previewLoad">刷新中...</div>
      <div class="previewBox"><img title="右键，在新窗口打开图片以浏览大图" src="" /></div>
      <button class="refreshPreviewBtn btn" id="refreshPreviewBtn">刷新预览图</button>
    </div>
    <div class="clear"></div>
  </div>
  <div class="stepBox">
    <div class="stepBoxTitle">第三步：设置获取卡片方式</div>
    <div class="gainCardMethodBox" type="{{ template.gain_card_method }}" keyword="{{ template.keyword }}" mid="{{ template.mid }}">
      <div class="line">
        <div class="lineLabel left">关键词</div>
        <input type="text" name="gainCardKw" />
      </div>
      <div class="line">
        <div class="lineLabel left">卡片链接</div>
        <input type="text" readonly value="{{ url }}" class="cardUrl" width="350" name="card_link" />
      </div>
    </div>
  </div>
  <div class="stepBox">
    <div class="stepBoxTitle">第四步：设置卡片分享的达标数量</div>
    <div class="line">
      <div class="lineLabel left">达标数量</div>
      <input type="number" min="0" name="target" value="{{ template.target }}" placeholder="卡片分享的达标数量" />
    </div>
  </div>
  <div class="stepBox">
    <div class="stepBoxTitle">第五步：设置接受邀请后回复内容</div>
    <div class="msgContent" id="invited_msg" template="{{ template.invited_msg }}" >
      {% include 'customize/widgets/material.html' %}
    </div>
  </div>
  <div class="stepBox">
    <div class="stepBoxTitle">第六步：设置达成活动目标回复内容</div>
    <div class="achieveMsgWrapper" id="achieveMsgWrapper">
      {% if achieve_msg_list %}
      {% for msg in achieve_msg_list %}
      <div class="achieveMsgBox" mid="{{ msg.id }}">
        <div class="achieveMsgHead">
          <font class="achieveMsgHeadText">{{ msg.task_name }}</font>
          <span class="achieveMsgBtn addBtn right glyphicon glyphicon-plus" title="在该消息后添加新消息"></span>
          <span class="achieveMsgBtn removeBtn right glyphicon glyphicon-minus" title="删除该消息"></span>
        </div>
        <div class="achieveMsg">
          <div class="line">
            <div class="lineLabel left">名称</div>
            <div class="lineInput left"><input value="{{ msg.task_name }}" type="text" name="task_name" placeholder="消息名称" /></div>
            <div class="clear"></div>
          </div>
          <div class="line">
            <div class="lineLabel left">时间</div>
            <div class="lineInput left"><input type="number" name="run_time" placeholder="达成目标后发送消息的延迟时间（分钟）" value="{{ msg.run_time }}" /></div>
            <div class="clear"></div>
          </div>
          <div class="line">
            <div class="lineLabel left">模板消息链接</div>
            <div class="lineInput left"><input value="{{ msg.url }}" type="text" name="url" placeholder="模板消息链接" /></div>
            <button class="chooseNewsBtn">点击选择</button>
            <div class="clear"></div>
          </div>
          <div class="line">
            <div class="lineLabel left">选择模板</div>
            <div class="lineInput left">
              <select class="template_list">
                <option value="none">未选择</option>
                {% for template in templates %}
                <option{% ifequal msg.template_id template.template_id %} selected{% endifequal %} value="{{ template.template_id }}" pi="{{ template.primary_industry }}" di="{{ template.deputy_industry }}" keywords="{{ template.keywords_json }}">{{ template.title }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="clear"></div>
          </div>
          <div class="keywordsBox">
            {% for key, value_dict in msg.keywords.items %}
            <div class="line">
              <div class="lineLabel left">{{ key }}</div>
              <div class="lineInput left"><input value="{{ value_dict.value }}" type="text" name="{{ key }}" /></div>
              <div class="clear"></div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="achieveMsgBox">
        <div class="achieveMsgHead">
          <font class="achieveMsgHeadText">回复消息</font>
          <span class="achieveMsgBtn addBtn right glyphicon glyphicon-plus" title="在该消息后添加新消息"></span>
          <span class="achieveMsgBtn removeBtn right glyphicon glyphicon-minus" title="删除该消息"></span>
        </div>
        <div class="achieveMsg">
          <div class="line">
            <div class="lineLabel left">名称</div>
            <div class="lineInput left"><input type="text" name="task_name" placeholder="消息名称" /></div>
            <div class="clear"></div>
          </div>
          <div class="line">
            <div class="lineLabel left">时间</div>
            <div class="lineInput left"><input type="number" name="run_time" placeholder="达成目标后发送消息的延迟时间（分钟）" /></div>
            <div class="clear"></div>
          </div>
          <div class="line">
            <div class="lineLabel left">模板消息链接</div>
            <div class="lineInput left"><input type="text" name="url" placeholder="模板消息链接" /></div>
            <button class="chooseNewsBtn">点击选择</button>
            <div class="clear"></div>
          </div>
          <div class="line">
            <div class="lineLabel left">选择模板</div>
            <div class="lineInput left">
              <select class="template_list">
                <option value="none">未选择</option>
                {% for template in templates %}
                <option value="{{ template.template_id }}" pi="{{ template.primary_industry }}" di="{{ template.deputy_industry }}" keywords="{{ template.keywords_json }}">{{ template.title }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="clear"></div>
          </div>
          <div class="keywordsBox">
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div id="btnWrapper">
    <div class="btn left" id="submit">保存</div>
    <div class="btn wait left" onclick="window.location.href=window.location.href;">取消</div>
    <div class="clear"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/common/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/plugin/fileUpload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/plugin/fileUpload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/static/plugin/fileUpload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/static/customize/js/material.js"></script>
<script type="text/javascript" src="/static/transmit/js/activity_set.js"></script>
{% endblock %}