html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
}

html * {
  font-family: "微软雅黑", "黑体";
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: inherit;
}

.vertical_outer {
  display: table;
  table-layout: fixed;
}

.vertical_inner {
  display: table-cell;
  vertical-align: middle;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.btn {
  background-color: #09bb07;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn.wait {
  background-color: white;
  color: #5b5b5b;
  border: 1px solid #d9d9d9;
}

.btn:hover {
  font-weight: bold;
  color: white;
}

.btn.wait:hover {
  color: #5b5b5b;
}

#pageHeadWrapper {
  width: 100%;
  min-width: 1024px;
  height: 64px;
  font-size: 20px;
  color: #5b5b5b;
  background-color: white;
}

#pageHead {
  width: 1024px;
  height: 64px;
  line-height: 20px;
  margin: auto;
  padding: 24px 98px 20px 95px;
}

#logoutBtn, #logoutBtn:hover, #logoutBtn:visited, #logoutBtn:active {
  font-size: 14px;
  color: #5b5b5b;
  text-decoration: none;
}

#logoutBtn:hover {
  text-decoration: underline;
}

#pageWrapper {
  width: 1024px;
  height: auto;
  margin: auto;
  padding: 48px 67px 48px 57px;
}

#pageBox {
  width: 100%;
  height: 621px;
  background-color: white;
  border: 1px solid #b6b6b6;
}

#navWrapper {
  width: 213px;
  height: 100%;
}

#contentWrapper {
  width: 685px;
  height: 100%;
  padding: 0px 54px 0px 31px;
  border-left: 1px solid #b6b6b6;
}

#loadingContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2000;
  text-align: center;
}

#loadingWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#loadingBox {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2em;
  height: 2em;
  font-size: 2em;
  margin: auto;
}

#loadingEle.rotate {
  animation: circle 1s infinite linear;
  -moz-animation: circle 1s infinite linear; /* Firefox */
  -o-animation: circle 1s infinite linear; /* Opera */
  -webkit-animation: circle 1s infinite linear;
}

@keyframes circle {
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(360deg); }
}

@-moz-keyframes circle { /* Firefox */
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(360deg); }
}

@-webkit-keyframes circle { /* Safari 和 Chrome */
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(360deg); }
}

@-o-keyframes circle { /* Opera */
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(360deg); }
}