html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #b6b6b6;
  font-size: 12px;
}

html * {
  font-family: "微软雅黑", "黑体";
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.vertical_outer {
  display: table;
  table-layout: fixed;
}

.vertical_inner {
  display: table-cell;
  vertical-align: middle;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.btn {
  background-color: #09bb07;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}