#materialWrapper {
  width: 100%;
  /*height: 317px;*/
  border: 1px solid #d9d9d9;
}

#materialNav {
  width: 100%;
  height: 39px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #d9d9d9;
}

#materialNav li {
  padding: 0 22px;
  height: 39px;
  line-height: 39px;
  color: #9b9b9b;
  border-right: 1px solid #d9d9d9;
  font-size: 14px;
}

#materialNav li:last-child {
  border-right: 0;
}

#materialNav li.active {
  background-color: #576477;
  color: white;
}

#materialNav li:hover {
  cursor: pointer;
  background-color: #576477;
  color: white;
}

.materialPanel {
  display: none;
}

.materialPanel.active {
  display: block;
}

#materialText {
  width: 100%;
  height: 242px;
  border: 0;
  padding: 10px 2%;
  border-bottom: 1px solid #d9d9d9;
  resize: none;
  outline: none;
  line-height: 20px;
  font-size: 12px;
  overflow-x: auto;
}

#materialText .insertedFace {
  vertical-align: bottom;
}

#materialFoot {
  height: 36px;
  width: 100%;
}

#materialFace {
  height: 36px;
  width: 36px;
  margin-left: 0.5em;
  opacity: 0.8;
}

#materialFace:hover {
  opacity: 1;
  cursor: pointer;
}

#materialFace img {
  width: 100%;
  height: 100%;
}

#materialRemain {
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #9b9b9b;
  padding-right: 2em;
}

#faceTable {
  border-collapse: collapse;
  background-color: white;
  position: absolute;
  display: none;
  z-index: 10;
}

#faceTable, #faceTable tr, #faceTable tr td {
  border: 1px solid #9d9d9d;
}

#materialText .insertedFace {
  width: 20px;
  height: 20px;
}

#materialImageWrapper, #materialVoiceWrapper, #materialVideoWrapper, #materialNewsWrapper {
  width: 100%;
  height: 278px;
  padding: 20px 4%;
}

.showMaterialBoxBtn {
  width: 100%;
  height: 239px;
  line-height: 239px;
  text-align: center;
  border: 1px dashed #d9d9d9;
  font-size: 20px;
  color: #9b9b9b;
}

.showMaterialBoxBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

#materialImage, #materialVoice {
  display: none;
}

#materialImage img {
  width: 120px;
  height: 120px;
  margin-right: 1em;
  vertical-align: bottom;
}

#materialImage a {
  cursor: pointer;
}

#materialVoice {
  display: none;
  border: 1px solid #d9d9d9;
  padding: 1em;
  position: relative;
  height: 84px;
}

#materialVoice img {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1em;
  top: 1em;
}

#materialVoice div, #materialVoice a {
  display: block;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  width: 100%;
  padding-left: 72px;
}

#materialVoice a:hover, #materialVideo a:hover, #materialNews a:hover {
  cursor: pointer;
}

#materialVideo {
  border: 1px solid #d9d9d9;
  padding: 1em;
  display: none;
}

#materialVideo .videoName {
  margin-right: 1em;
}

#materialNews {
  display: none;
}


#materialNews .materialBoxContent {
  padding: 21px 15%;
  overflow: auto;
}

#materialNews .newsItemWrapper {
  width: 85%;
  margin: 1%;
  background-color: white;
  padding: 1em;
  border: 1px solid #d9d9d9;
  position: relative;
}

#materialNews .newsItemWrapper .newsItemBox {
  width: 100%;
  position: relative;
  margin: 1em 0 0 0;
  padding-top: 1em;
  border-top: 1px solid #d9d9d9;
}

#materialNews .newsItemWrapper .newsItemBox:first-child {
  height: 12em;
  margin-top: 0;
  padding-top: 0;
  border: 0;
  overflow: hidden;
}

#materialNews .newsItemWrapper .newsItemBox:first-child .newsItemImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/static/customize/image/1.jpg');
  font-size: 0;
}

#materialNews .newsItemWrapper .newsItemBox:first-child .newsItemTitle {
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  left: 0;
  top: 10em;
  width: 100%;
}

#materialNews .newsItemWrapper .newsItemImg {
  width: 5em;
  height: 5em;
  background-image: url('/static/customize/image/1.jpg');
  position: absolute;
  right: 0;
  top: 1em;
}

#materialNews .newsItemWrapper .newsItemTitle {
  width: 210px;
  height: 5em;
  line-height: 5em;
}

#materialWrapper {
  background-color: white;
}